.Xtras_Table {
	font-family: Arial;
	font-size: 12px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.Xtras_Table tbody tr:nth-child(odd) {
  background-color: #99ff99;
}

.Xtras_Table thead {
	font-weight: bold;
}

.Xtras_Paging {
	font-family: Arial;
	font-size: 12px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	border-collapse: collapse;
}

.Xtras_Paging span {
	border: 1px solid;
	padding: 3px;
	margin-right: 5px;
}

.Xtras_Paging span.current{
	font-weight: bold;
	background: #99ff99;
}
